{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                {% include 'navbar.html' %}
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-3" data-tag="winthor"><!--adicionar o data-tag para sar junto o filter la na base-->
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Auxiliar 1409</h5>
                        <p class="card-text">Consulta para auxiliar o cancelamento na 1409.</p>
                        <a href="{{ url_for('consulta_form')}}" class="btn btn-primary">Entrar</a><br>
                        <span class="badge bg-success align-self-end" style="font-size: 0.75em; opacity: 0.9;">Winthor</span><!--aqui é a tag de fato-->
                    </div>
                </div>
            </div>
            <div class="col-md-3" data-tag="kairos">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Consulta Kairos</h5>
                        <p class="card-text">Verifica a última carga integrada no Kairos</p>
                        <a href="{{ url_for('verificar_integracao')}}" class="btn btn-primary">Entrar</a><br>
                        <span class="badge bg-info align-self-end" style="font-size: 0.75em; opacity: 0.9;">kairos</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3"  data-tag="ion">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Registros ION</h5>
                        <p class="card-text">Verifica a quantidade de resgistros em transito na ION.</p>
                        <a href="#" class="btn btn-primary">Entrar</a><br>
                        <span class="badge bg-danger align-self-end" style="font-size: 0.75em; opacity: 0.9;">ION</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3" data-tag="powerbi">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Power BI</h5>
                        <p class="card-text">Relatórios criados no Power BI.</p>
                        <a href="#" class="btn btn-primary">Ação</a><br>
                        <span class="badge bg-warning align-self-end" style="font-size: 0.75em; opacity: 0.9;">Power BI</span>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}